react-masterclass/**.json linguist-detectable=false
react-masterclass/**.txt linguist-detectable=false

*.js linguist-detectable=true
*.css linguist-detectable=true

react-masterclass/**.js linguist-detectable=true
react-masterclass/**.css linguist-detectable=true
react-masterclass/**.html linguist-detectable=true
